{% extends "dashboard.html" %}
{% load humanize static %}

{% block title %}
{{ block.super }} {{object.title|title}}
{% endblock title %}

{% block content %}
<section class="space-y-10 w-full p-4 md:px-10 md:py-8 min-h-[calc(100vh_-_14rem)]">
    <form action="{{object.get_absolute_url}}" method="post" enctype="multipart/form-data" class="rounded-xl bg-white text-gray-700 p-4 space-y-4">
        {% csrf_token %}
        <div class="md:flex md:items-start md:space-x-4 space-y-4 md:space-y-0">
            <div class="flex md:block md:space-y-3 md:space-x-0 space-x-3">
                <div class="flex-none">
                    <div class="w-32 h-32 mb-1 border rounded-lg overflow-hidden relative bg-gray-100">
                        <img id="imageI" class="object-cover w-full h-32" src="https://placehold.co/300x300/e2e8f0/e2e8f0" />

                        <div class="absolute top-0 left-0 right-0 bottom-0 w-full block cursor-pointer flex items-center justify-center" onClick="document.getElementById('fileInputI').click()">
                        <button type="button"
                            style="background-color: rgba(255, 255, 255, 0.65)"
                            class="hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 text-sm border border-gray-300 rounded-lg shadow-sm"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-camera" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                                <path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
                                <circle cx="12" cy="13" r="3" />
                            </svg>
                        </button>
                        </div>
                    </div>
                    <input name="img1" id="fileInputI" accept="image/*" class="hidden" type="file" onChange="
                        let fileI = this.files[0];
                        var reader = new FileReader();

                        reader.onload = function (e) {
                        document.getElementById('imageI').src = e.target.result;
                        document.getElementById('image2').src = e.target.result;
                        };

                        reader.readAsDataURL(fileI);
                    ">
                </div>
                <div class="flex-none">
                    <div class="w-32 h-32 mb-1 border rounded-lg overflow-hidden relative bg-gray-100">
                        <img id="imageII" class="object-cover w-full h-32" src="https://placehold.co/300x300/e2e8f0/e2e8f0" />

                        <div class="absolute top-0 left-0 right-0 bottom-0 w-full block cursor-pointer flex items-center justify-center" onClick="document.getElementById('fileInputII').click()">
                        <button type="button"
                            style="background-color: rgba(255, 255, 255, 0.65)"
                            class="hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 text-sm border border-gray-300 rounded-lg shadow-sm"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-camera" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                            <path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
                            <circle cx="12" cy="13" r="3" />
                            </svg>
                        </button>
                        </div>
                    </div>
                    <input name="img2" id="fileInputII" accept="image/*" class="hidden" type="file" onChange="
                        let fileII = this.files[0];
                        var reader = new FileReader();

                        reader.onload = function (e) {
                        document.getElementById('imageII').src = e.target.result;
                        document.getElementById('image2').src = e.target.result;
                        };

                        reader.readAsDataURL(fileII);
                    ">
                </div>

            </div>

            <div class="space-y-3 w-full md:w-[calc(100%_-_128px)]">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div class="relative">
                        <input type="text" value="{{object.title}}" name="title" id="id_title" required class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-white rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-warning/60 focus:outline-none focus:ring-0 focus:border-warning peer">
                        <label for="id_title" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-warning peer-focus:dark:text-warning/60 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Product Title</label>
                    </div>
                    <div class="relative">
                        <input type="number" value="{{object.price}}" step="0.01" min="100.00" max="1000000.00" name="price" id="id_price" required class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-white rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-warning/60 focus:outline-none focus:ring-0 focus:border-warning peer">
                        <label for="id_price" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-warning peer-focus:dark:text-warning/60 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Product Unit Price</label>
                    </div>
                </div>

                <div class="relative">
                    <textarea name="detail" id="id_detail" cols="100" rows="5" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-white rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-warning/60 focus:outline-none focus:ring-0 focus:border-warning peer w-full">
                        {{object.detail}}
                    </textarea>
                    <label for="id_detail" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-warning peer-focus:dark:text-warning/60 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Product Detail</label>
                </div>
            </div>
        </div>
        <button type="submit" class="bg-warning px-6 py-3 rounded-xl text-center md:w-1/3">Update</button>
    </form>
</section>
{% endblock content %}
