{% extends "dashboard.html" %}

{% block title %}
{{ block.super }} {{request.user.username|title}} Products
{% endblock title %}

{% block content %}
<div x-data="{filter:0}" class="space-y-10 w-full p-4 md:px-10 md:py-8 min-h-[calc(100vh_-_14rem)]">
    <div class="md:w-full md:max-w-2xl w-full ">
        <div class="flex">
            <label for="search-dropdown" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Your
                Email</label>
            <button id="dropdown-search-button" data-dropdown-toggle="dropdown-search"
                class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
                type="button">Filters <svg aria-hidden="true" class="w-4 h-4 ml-1" fill="currentColor"
                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg></button>
            <div id="dropdown-search"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700"
                data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="top"
                style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate3d(897px, 5637px, 0px);">
                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-search-button">
                    <li>
                        <button @click="filter = 0" type="button"
                            class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">All</button>
                    </li>
                    <li>
                        <button @click="filter = 2" type="button"
                            class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Services</button>
                    </li>
                    <li>
                        <button @click="filter = 1" type="button"
                            class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Products</button>
                    </li>
                </ul>
            </div>
            <form method="GET" action="" class="relative w-full">
                <input name="q" hx-get="{% url 'users:search_products' %}" hx-swap="innerHTML" hx-target="#escrow"
                    hx-trigger="keyup changed delay:300ms" type="search" id="search-dropdown"
                    class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-50 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                    placeholder="Search Vendor Names, Buyer Name, Contract ID..." required name="search">
                <button type="submit"
                    class="absolute top-0 right-0 p-2.5 text-sm font-medium text-white bg-warning rounded-r-lg border border-warning hover:bg-warning focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-warning/70 dark:hover:bg-warning/800 dark:focus:ring-warning">
                    <svg aria-hidden="true" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg>
                    <span class="sr-only">Search</span>
                </button>
            </form>
        </div>
    </div>

    <section id="escrow" class="w-full divide-y-3 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">
        {% include "snippets/htmx/user_product_list.html" %}
    </section>
</div>
{% endblock content %}
