{% load humanize %}

{% for tx in objects %}
{% if forloop.last and page_obj.has_next %}
<div x-data="ContractDetailForm" hx-get="{% url 'escrow:list_transactions' %}?page={{ page_obj.number|add:1 }}" hx-swap="afterend" hx-trigger="revealed" hx-target="this" x-show.transition.in="filter == {% if tx.contract.payment_withdrawn and tx.contract.payment_sent %}1{% elif not tx.contract.payment_withdrawn and not tx.contract.payment_sent %}2{% endif %} || filter == 0" class="hover:shadow-md bg-gray-100 p-3 rounded-xl duration-500 space-y-3">
{% else %}
<div x-data="ContractDetailForm" x-show.transition.in="filter == {% if tx.contract.payment_withdrawn and tx.contract.payment_sent %}1{% elif not tx.contract.payment_withdrawn and not tx.contract.payment_sent %}2{% endif %} || filter == 0"  class="hover:shadow-md bg-gray-100 p-3 rounded-xl duration-500 space-y-3">
{% endif %}
  <div class="flex items-center justify-between">
    <div class="flex items-center space-x-4">
      <div class="p-4 bg-gray-200 text-gray-700 rounded-full">
        {% if tx.contract.vendor_email == request.user.email %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-success/50">
          <path d="M12 7.5a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z" />
          <path fill-rule="evenodd" d="M1.5 4.875C1.5 3.839 2.34 3 3.375 3h17.25c1.035 0 1.875.84 1.875 1.875v9.75c0 1.036-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 011.5 14.625v-9.75zM8.25 9.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM18.75 9a.75.75 0 00-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 00.75-.75V9.75a.75.75 0 00-.75-.75h-.008zM4.5 9.75A.75.75 0 015.25 9h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H5.25a.75.75 0 01-.75-.75V9.75z" clip-rule="evenodd" />
          <path d="M2.25 18a.75.75 0 000 1.5c5.4 0 10.63.722 15.6 2.075 1.19.324 2.4-.558 2.4-1.82V18.75a.75.75 0 00-.75-.75H2.25z" />
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-danger/50">
          <path d="M4.5 3.75a3 3 0 00-3 3v.75h21v-.75a3 3 0 00-3-3h-15z" />
          <path fill-rule="evenodd" d="M22.5 9.75h-21v7.5a3 3 0 003 3h15a3 3 0 003-3v-7.5zm-18 3.75a.75.75 0 01.75-.75h6a.75.75 0 010 1.5h-6a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z" clip-rule="evenodd" />
        </svg>
        {% endif %}
      </div>
      <div>
        {% if tx.vendor %}
        <strong class="text-base font-bold block">From {% if tx.buyer.name %}{{tx.buyer.name|title}}{% else %}{{tx.buyer.username|title}}{% endif %}</strong>
        {% else %}
        <strong class="text-base font-bold block">To {% if tx.vendor.name %}{{tx.vendor.name|title}}{% else %}{{tx.vendor.username|title}}{% endif %}</strong>
        {% endif %}
        <p class="text-normal text-gray-300 text-s">{{tx.modified|date:"M d, Y"}}</p>
      </div>
    </div>
    <div class="text-right">
      {% if tx.contract.payment_sent %}
      <strong class="text-base font-bold block text-success">+ {{tx.total_cost}}</strong>
      <p class="text-normal text-gray-300 text-s">Amount Recieved</p>
      {% else %}
      <strong class="text-base font-bold block text-danger">- {{tx.total_cost}}</strong>
      <p class="text-normal text-gray-300 text-s">Amount Spent</p>
      {% endif %}
    </div>
  </div>
  {% if not request.user.get_user_banks and not tx.contract.payment_sent %}
  <a href="{% url 'users:update' %}" class="bg-warning btn-rounded hover:shadow-xl duration 300 w-full py-2 text-center text-gray-700 font-bold">
    <span class="block">REQUEST PAYMENT</span>
  </a>
  {% elif not tx.contract.payment_sent %}
  <button @click="vendor_payout( '{{request.user.username}}', '{{tx.contract.withdraw_amount}}', '{{tx.contract.slug}}', '{{request.user.get_user_banks.acc_no}}', '{{request.user.get_user_banks.bank.code}}', '{{request.user.name}}', '{{tx.ref_link}}' )" class="bg-warning btn-rounded hover:shadow-xl duration 300 w-full py-2 text-center text-gray-700 font-bold">
    <span class="block">REQUEST PAYMENT</span>
  </button>
  {% else %}
  <button class="bg-success text-white btn-rounded hover:shadow-xl duration 300 w-full py-2 text-center font-bold">
    <span class="block">PAYMENT TRANSFERRED</span>
  </button>
  {% endif %}
</div>

{% empty %}
<div class="col-span-4 rounded-xl shadow-xl bg-white text-gray-800 py-8 text-center space-y-3">
  <p class="text-base text-gray-400 block">No Transaction History Present yet</p>
</div>
{% endfor %}
