{% load humanize %}

{% for c in objects %}
{% if objects and forloop.last and page_obj.has_next %}
<div hx-get="{% url 'escrow:list_contracts' %}?page={{ page_obj.number|add:1 }}" hx-swap="afterend" hx-trigger="revealed" hx-target="this" class="cursor-pointer group duration-300 flex items-center space-x-4 bg-gray-100 p-3 rounded-xl hover:shadow-md justify-between">
{% else %}
<div class="cursor-pointer group duration-300 flex items-center space-x-4 bg-gray-100 p-3 rounded-xl hover:shadow-md justify-between">
{% endif %}
  <div class="flex items-center space-x-4">
    <img src="{% if c.image %}{{c.image.url}}{% else %}https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png{% endif %}" alt="{{c.user.username}}" class="h-12 w-12 object-cover rounded-full block">
    <div class="space-y-0 flex flex-col">
      <h4 class="font-bold text-base">UN: {% if c.name %}{{c.name}}{% else %}{{c.username}}{% endif %}</h4>
      <p class="block text-s font-bold text-primary">EM: {% if c.email %}{{c.email}}{% else %}None{% endif %}</p>
      <p class="block text-s font-bold text-gray-500">PN: {% if c.profile.phone %}{{c.profile.phone}}{% else %}None{% endif %}</p>
    </div>
  </div>

  <a class="w-8 h-8 hidden flex-none duration-300 group-hover:block" href="mailto://{{c.email}}">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
      <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
      <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
    </svg>
  </a>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 block flex-none duration-300 group-hover:hidden">
    <path fill-rule="evenodd" d="M17.834 6.166a8.25 8.25 0 100 11.668.75.75 0 011.06 1.06c-3.807 3.808-9.98 3.808-13.788 0-3.808-3.807-3.808-9.98 0-13.788 3.807-3.808 9.98-3.808 13.788 0A9.722 9.722 0 0121.75 12c0 .975-.296 1.887-.809 2.571-.514.685-1.28 1.179-2.191 1.179-.904 0-1.666-.487-2.18-1.164a5.25 5.25 0 11-.82-6.26V8.25a.75.75 0 011.5 0V12c0 .682.208 1.27.509 1.671.3.401.659.579.991.579.332 0 .69-.178.991-.579.3-.4.509-.99.509-1.671a8.222 8.222 0 00-2.416-5.834zM15.75 12a3.75 3.75 0 10-7.5 0 3.75 3.75 0 007.5 0z" clip-rule="evenodd" />
  </svg>
</div>
{% empty %}
<div class="col-span-4 rounded-xl shadow-xl bg-white text-gray-800 py-8 text-center space-y-3">
  <p class="text-base text-gray-400 block">You do not have a customer</p>
</div>
{% endfor %}
