{% if count == 0 and res == "vendor" %}
<div id="vresult" class="w-full z-20 left-0 right-0 absolute min-h-0 max-h-44 overflow-y-auto scrollbar-thin bg-gray-100 shadow-md rounded-xl p-0 top-14 grid grid-cols-1 md:grid-cols-2 gap-4">
{% elif count == 0 and res == "buyer" %}
<div id="bresult" class="w-full z-20 left-0 right-0 absolute min-h-0 max-h-44 overflow-y-auto scrollbar-thin bg-gray-100 shadow-md rounded-xl p-0 top-14 grid grid-cols-1 md:grid-cols-2 gap-4">
{% elif count > 0 and res == "vendor" %}
<div id="vresult" x-show="autocomplete" x-cloak="!autocomplete"  class="w-full z-20 left-0 right-0 absolute min-h-0 max-h-44 overflow-y-auto scrollbar-thin bg-gray-100 shadow-md rounded-xl p-3 top-14 grid grid-cols-1 md:grid-cols-2 gap-4">
  {% for user in users %}
  <div @click="vautofill" x-ref="item"
    class="flex items-center shadow hover:bg-indigo-100 hover:shadow-lg hover:rounded cursor-pointer transition duration-150 ease-in-out transform hover:scale-105 p-3">
    <img class="w-10 h-10 rounded-full mr-4" src="{% if user.image %}{{user.image.url}}{% else %}https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png{% endif %}" alt="result image {{user.id}}"/>
    <div class="text-s  space-y-2">
      <p class="text-gray-900 leading-none uppercase font-semibold text-base">
        <span x-ref="vendor">{{user.profile.company_name}}</span>
        <span>{{user.id}}</span>
      </p>
      <p class="text-gray-600 flex items-center space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
          <path fill-rule="evenodd"
            d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
            clip-rule="evenodd" />
        </svg>

        <span class="block" x-ref="email">{{user.email}}</span>
      </p>
      <p class="hidden text-gray-600 flex items-center space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
          <path fill-rule="evenodd"
            d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
            clip-rule="evenodd" />
        </svg>

        <span class="block" x-ref="phone">{{user.profile.username}}</span>
      </p>
      <p class="hidden text-gray-600 flex items-center space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
          <path fill-rule="evenodd"
            d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
            clip-rule="evenodd" />
        </svg>

        <span class="block" x-ref="address">{{user.profile.company_address_I}}</span>
      </p>
    </div>
  </div>
  {% endfor %}
{% elif count > 0 and res == "buyer" %}
<div id="bresult" x-show="butocomplete" x-cloak="!butocomplete" class="w-full z-20 left-0 right-0 absolute min-h-0 max-h-44 overflow-y-auto scrollbar-thin bg-gray-100 shadow-md rounded-xl p-3 top-14 grid grid-cols-1 md:grid-cols-2 gap-4">
  {% for user in users %}
  <div @click="bautofill" x-ref="item"
    class="flex items-center shadow hover:bg-indigo-100 hover:shadow-lg hover:rounded cursor-pointer transition duration-150 ease-in-out transform hover:scale-105 p-3">
    <img class="w-10 h-10 rounded-full mr-4" src="{% if user.image %}{{user.image.url}}{% else %}https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png{% endif %}" alt="result image {{user.id}}"/>
    <div class="text-s  space-y-2">
      <p class="text-gray-900 leading-none uppercase font-semibold text-base">
        <span x-ref="vendor">{{user.username}}</span>
        <span>{{user.id}}</span>
      </p>
      <p class="text-gray-600 flex items-center space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
          <path fill-rule="evenodd"
            d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
            clip-rule="evenodd" />
        </svg>

        <span class="block" x-ref="email">{{user.email}}</span>
      </p>
      <p class="text-gray-600 flex items-center space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
          <path fill-rule="evenodd"
            d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
            clip-rule="evenodd" />
        </svg>

        <span class="block" x-ref="phone">{{user.profile.username}}</span>
      </p>
      <p class="text-gray-600 flex items-center space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
          <path fill-rule="evenodd"
            d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
            clip-rule="evenodd" />
        </svg>

        <span class="block" x-ref="address">{{user.profile.company_address_I}}</span>
      </p>
    </div>
  </div>
  {% endfor %}
{% endif %}
</div>
