{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block inner %}

<h1 class="text-xl md:text-2xl font-bold text-gray-700">{% translate "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
  <p class="mt-2 block text-sm">
    {% translate "Please sign in with one of your existing third party accounts:" %}
    {% if ACCOUNT_ALLOW_REGISTRATION %}
      {% blocktranslate trimmed %}
        <br>Or, <a class="text-primary font-bold" href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:
      {% endblocktranslate %}
    {% endif %}
  </p>

  <div class="font-bold flex items-center justify-center py-14">

    <ul class="space-x-10 flex items-center">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

{% else %}
  {% if ACCOUNT_ALLOW_REGISTRATION %}
    <p class="mt-2 block text-sm">
      {% blocktranslate trimmed %}
        If you have not created an account yet, then please
        <a class="text-primary font-bold" href="{{ signup_url }}">sign up</a> first.
      {% endblocktranslate %}
    </p>
  {% endif %}
{% endif %}

<form class="space-y-5" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <div class="flex items-center justify-between">
    <a class="block text-primary font-bold" href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>
    <button class="btn-rounded btn-warning font-bold uppercase" type="submit">{% translate "Sign In" %}</button>
  </div>
</form>

{% endblock %}
