{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Set Password" %}{% endblock %}

{% block inner %}
    <h1 class="text-xl md:text-2xl font-bold text-gray-700">{% translate "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="space-y-5">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn-rounded btn-warning uppercase font-bold" type="submit" name="action" value="{% translate 'Set Password' %}"/>
    </form>
{% endblock %}
