{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}

    <h1  class="text-xl md:text-2xl font-bold text-gray-700">{% translate "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="text-sm block">{% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="space-y-5 mb-6">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn-rounded btn-warning uppercase font-bold" type="submit" value="{% translate 'Reset My Password' %}" />
    </form>

    <p class="text-sm block font-semibold">{% blocktranslate %}Please contact us if you have any trouble resetting your password.{% endblocktranslate %}</p>
{% endblock %}
